*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #232222;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-3%);
    box-shadow: 0 12px 16px rgba(175, 152, 152, 0.856);
}

.card{
    background-color: #303030;
}

.btn:hover{
    transform: translateY(-5%);
    cursor: pointer;

}

.carta-1{
    width: 60%;
    margin-left: 40px;
    align-items: center;
    
}

.carta-1:hover{
    box-shadow: 0 12px 16px rgba(175, 152, 152, 0.856);
    cursor: pointer;
}

.img-messi{
    width: 550px;
}

/* ================ */

.fa-instagram{
    font-size: 40px;
    color: red;
}

.fa-facebook{
    font-size: 40px;
    color: blue;
}

.fa-twitter{
    font-size: 40px;
    color: lightskyblue;
}

.iconos{
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 30px;
}